#qol_video_navigator {
  height: 46px;
  border-top: 1px solid lightgrey;
}

#qol_prev_vid, #qol_next_vid {
  width: 50%;
  display: inline-block;
  -webkit-transition: background .25s ease-in-out;
  -moz-transition:    background .25s ease-in-out;
  transition:         background .25s ease-in-out;
  vertical-align: top;
}

#qol_prev_vid:hover, #qol_next_vid:hover {
  background-color: lightgrey;
}

#qol_prev_vid_link, #qol_next_vid_link {
  display: inline-block;
  width: 100%;
}

#qol_prev_vid {
  border-right: 1px solid lightgrey;
}

#qol_prev_vid_link > * {
  padding-right: 5px;
}

#qol_prev_vid_link > span {
  text-align: right;
}

#qol_next_vid_link > * {
  padding-left: 5px;
}

.qol_thumb {
  height: 45px;
  width: 85px;
}

.qol-vid-name {
  display: inline-block;
  max-height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  width: -webkit-calc(100% - 112px);
  width:    -moz-calc(100% - 112px);
  width:         calc(100% - 112px);
  word-wrap: break-word;
}
