/*************************************************
Previous & Next Videos
*************************************************/

#qol_video_navigator {
  display: block;
  border-top: 1px solid lightgrey;
  height: 46px;
}

#qol_prev_vid, #qol_next_vid {
  display: inline-block;
  height: 100%;
  vertical-align: top;
  width: 50%;
}

#qol_prev_vid_link:hover, #qol_next_vid_link:hover {
  background-color: #b31919;
  color: white;
}

#qol_prev_vid_link, #qol_next_vid_link {
  display: inline-block;
  width: 100%;

  -webkit-transition: .40s ease-in-out;
  -moz-transition:    .40s ease-in-out;
  transition:         .40s ease-in-out;
}

#qol_prev_vid_thumb, #qol_next_vid_arrow {
  float: right;
}

#qol_prev_vid_arrow, #qol_next_vid_thumb {
  float: left;
}

#qol_prev_vid {
  border-right: 1px solid lightgrey;
}

#qol_prev_vid_link > * {
  padding-right: 5px;
}

#qol_prev_vid_link > span {
  text-align: right;
}

#qol_next_vid_link > * {
  padding-left: 5px;
}

.qol_thumb {
  height: 45px;
  width: 85px;
}

.qol-vid-name {
  display: inline-block;
  max-height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  width: -webkit-calc(100% - 112px);
  width:    -moz-calc(100% - 112px);
  width:         calc(100% - 112px);
  word-wrap: break-word;
}

/*************************************************
Live Show
*************************************************/

#qol_blah {
  border-left:  1px solid #2c3035;
  border-right: 1px solid #2c3035;

  display: inline-block;
  background: none;
  background-color: none;
  border: none;
  height: 30px;

  -webkit-transition: .30s ease-in-out;
  -moz-transition:    .30s ease-in-out;
  transition:         .30s ease-in-out;
}

#qol_blah:hover {
  background-color: #2c3035;
}

#qol_anime_bomb {
  display: inline-block;
  height: 30px;
  width: 30px;
}

.qol-dropdown {
  position: relative;
  display: inline-block;
}

.qol-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-height: 30px;
  width: 90px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.chat .qol-dropdown .chat-tabs__wrapper.qol-red-background {
  background: #981b1d none repeat scroll 0 0;
}

.qol-show {
  display: block;
}
