/*************************************************
Previous & Next Videos
*************************************************/

#qol_video_navigator {
  display: block;
  height: 46px;
}

#qol_prev_vid, #qol_next_vid {
  display: inline-block;
  height: 100%;
  vertical-align: top;
  width: 50%;
}

#qol_prev_vid_link:hover, #qol_next_vid_link:hover {
  background-color: #b31919;
  color: white;
}

#qol_prev_vid_link, #qol_next_vid_link {
  display: inline-block;
  width: 100%;

  -webkit-transition: .40s ease-in-out;
  -moz-transition:    .40s ease-in-out;
  transition:         .40s ease-in-out;
}

#qol_prev_vid_thumb, #qol_next_vid_arrow {
  float: right;
}

#qol_prev_vid_arrow, #qol_next_vid_thumb {
  float: left;
}

#qol_prev_vid_link > * {
  padding-right: 5px;
}

#qol_prev_vid_link > span {
  text-align: right;
}

#qol_next_vid_link > * {
  padding-left: 5px;
}

.qol-vid-nav-black {
  border-top: 1px solid #3a3c3c
}

.qol-vid-nav-white {
  border-top: 1px solid lightgrey;
}

.qol-prev-vid-black {
  border-right: 1px solid #3a3c3c;
}

.qol-prev-vid-white {
  border-right: 1px solid lightgrey;
}

.qol_thumb {
  height: 45px;
  width: 85px;
}

.qol-vid-name {
  display: inline-block;
  max-height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  width: -webkit-calc(100% - 112px);
  width:    -moz-calc(100% - 112px);
  width:         calc(100% - 112px);
  word-wrap: break-word;
}

/*************************************************
Hide Spoiler Elements
*************************************************/

.qol-hidden {
  visibility: hidden !important;
}

.qol-hidden-hover {
  opacity: 0;
}

.qol-hidden-hover:hover {
  opacity: 1;
}

/*************************************************
Live Show
*************************************************/

#qol_emotes_icon {
  display: inline-block;
  height: 30px;
  width: 30px;
}

#qol_conversation_emotes {
  height: 40%;
  overflow-y: auto;
}

.qol-emote {
  background: none;
  border: none;
  display: inline-block;
  height: 30px;
  margin-bottom: 10px;

  -webkit-transition: .30s ease-in-out;
  -moz-transition:    .30s ease-in-out;
  transition:         .30s ease-in-out;
}

.qol-emote:hover {
  background-color: #981b1d;
}

.chat .qol-chat-tabs__emotes .chat-tabs__wrapper.qol-red-background {
  background: #981b1d none repeat scroll 0 0;
}

.qol-show {
  display: block !important;
}

.qol-height-60 {
  height: 60% !important;
}
