/*************************************************
Playback Rate Control
*************************************************/

.qol-playback-rate-menu-show {
  left: 50% !important;
}

.qol-playback-rate-input {
  text-align: center;
  margin-bottom: 10px;
}

.qol-playback-rate-button {
  font-size: 16px;
  width: 4em;
}

.qol-playback-rate-slider {
  width: 90%;
  height: 4px;
  min-height: 4px;
  line-height: 4px;
  background: #d4d4d4;
  padding: 0px;
  margin: 10px 0 10px 0;
}

.qol-playback-rate-slider::-moz-range-thumb {
  width: 12px;
  height: 12px;
  background: black;
  border: 2px solid #fff;
  border-radius: 100%;
}

.qol-playback-rate-slider::-webkit-slider-thumb {
  width: 12px;
  height: 12px;
  background: black;
  border: 2px solid #fff;
  border-radius: 100%;
}

/*************************************************
Hide Spoiler Elements
*************************************************/

.qol-hidden {
  visibility: hidden !important;
}

.qol-hidden-hover {
  opacity: 0;
}

.qol-hidden-hover:hover {
  opacity: 1;
}

/*************************************************
Live Show
*************************************************/

#qol_emotes_icon {
  height: 18px;
  width: 18px;
  margin-left: auto;
  margin-right: auto;
}

#qol_conversation_emotes {
  height: 50%;
}

#qol_conversation_emotes .chat-panel__container {
  padding-top: 2.25rem;
}

.qol-chat-tabs__emotes {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}

.qol-emote-category {
  border-top: 1px solid #555555;
  color: #ababab;
  font-weight: bold;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  padding: 4px 0px;
  text-align: center;
  width: 80%;
}

.qol-emote-category:first-of-type {
  border-top: none;
  width: 100%;
  margin: auto;
}

.qol-emote {
  background: none;
  border: none;
  display: inline-block;
  height: 32px;
  margin-bottom: 5px;
  margin-top: 5px;
  width: 48px;
}

.qol-emote:hover {
  background-color: #981b1d;
}

#qol-emote-wigg {
  height: 63px;
  width: 100%;
}

#qol-emote-fiiish {
  width: 96px;
}

.chat .qol-chat-tabs__emotes .chat-tabs__wrapper.qol-red-background,
.chat .qol-chat-tabs__emotes .chat-tabs__wrapper.qol-red-background:hover {
  background: #981b1d none repeat scroll 0 0;
}

.qol-scroll-hold {
  background: #232425;
  height: 100%;
  overflow-y: auto;
  scrollbar-color: grey #232425;
  scrollbar-width: thin;
}

.chat-scroll-hold, .player {
  scrollbar-color: #1b1c1d #232425;
  scrollbar-width: thin;
}

.qol-show {
  display: block !important;
}

.qol-height-60 {
  height: 50% !important;
}

.qol-infobutton {
  margin-left: 5px;
}

.qol-infobutton > img {
  width: 21px;
}

.poll-choices__item.qol-without-after::after{
  content: "";
}
