body {
  font-family: "Open Sans Light", sans-serif;
  font-size: 0.9em;
  font-weight: 300;
}

hr {
  color: #C1C1C1;
  border-color: #C1C1C1;
  background-color: #C1C1C1;
  height: 1px;
  border: none;
}

input[type="checkbox"] {
  height: 20px;
  width: 20px;
}

input[type="text"] {
  width: 270px;
  font-family: Inconsolata;
  /*font-family: "Open Sans Light", sans-serif;*/
  font-size: 0.9em;
  font-weight: 300;
}

.option-infobutton-container {
  display: inline-block;
}

.option-infobutton-text {
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  display: none;
  font-size: 1em;
  position: absolute;
  width: 300px;
  z-index: 1;
}

.option-text {
  display: inline-block;
  width: 40%;
}

.option-text img {
  display: inline-block;
  position: relative;
  vertical-align: middle;

  -webkit-transition: .20s ease-in-out;
  -moz-transition:    .20s ease-in-out;
  transition:         .20s ease-in-out;
}

.option-text img:hover {
  cursor: pointer;
  opacity: 0.5;
}

.centered {
  display: inline-block;
  text-align: center;
}
