a:link {
  color: red;
}

a:visited {
  color: red;
}

a:hover {
  color: white;
}

a:active {
  color: white;
}

body {
  background-color: #232425;
  margin:0px !important;
  max-width: 800px;
}

#stream_title {
  background: rgba(0, 0, 0, 0.7);
  bottom: 50px;
  left: 0;
  padding: 2px 5px;
  position: absolute;
}

#gb_infinite_logo {
  top: 15px;
  right: 0;
  padding: 2px 5px;
  position: absolute;
}

#check_options, #notifications_disabled {
  width: 360px;
  line-height: 1.5em;
}

#text_api_key {
  width: 250px;
}

#text_api_key.invalid {
  background-color: #ffbdba;
  /* border-color: red; */
  /* border-width: medium; */
}

#no_stream {
  width: 400px;
}

#options_link, #stream_notifications {
  border-right: 1px solid #3a3c3c;
  border-left: 1px solid #3a3c3c;
  font-size: 14px;
  padding-top: 12px;
  text-align: center;
  text-decoration: none;
  width: 90px;

  -webkit-box-sizing: border-box;
}

#popup_bottom_row {
  display: flex;
  height: 60px;
  justify-content: space-between;
  border-top: 1px solid #3a3c3c;
}

#popup_bottom_row > * {
  height: 100%;
}

#options_link, #store_page, #stream_notifications, .stream-link {
  cursor: pointer;
}

#stream_image {
  max-width: 400px;
  max-height: 270px;
}

.centered {
  display: inline-block;
  text-align: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.live_stream_info {
  display: none;
  position: relative;
  border-bottom: 1px solid #3a3c3c;
  padding: 8px 0px;
}

.option-infobutton-container {
  display: inline;
}

.option-infobutton-text {
  background-color: black;
  box-shadow: 0px 8px 16px 0px white;
  display: none;
  font-size: 1rem;
  position: absolute;
  width: 300px;
  z-index: 1;
}

.option-text {
  display: inline-block;
  width: 40%;
}

.option-text img {
  display: inline-block;
  position: relative;
  vertical-align: middle;

  -webkit-transition: .20s ease-in-out;
  -moz-transition:    .20s ease-in-out;
  transition:         .20s ease-in-out;
}

.option-text img:hover {
  cursor: pointer;
  opacity: 0.5;
}

.popup-buttons {
  -webkit-transition: .40s ease-in-out;
  -moz-transition:    .40s ease-in-out;
  transition:         .40s ease-in-out;
}

.popup-buttons:hover {
  background-color: #b31919;
}

.popup-font {
  color: white;
  font-family: "proximanova-regular",-apple-system,".SFNSText-Regular",BlinkMacSystemFont,"San Francisco","Roboto","Segoe UI","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue","Helvetica","Lucida Grande",sans-serif;
}

.popup-info {
  border-bottom: 1px solid #3a3c3c;
  display: none;
  padding: 12px 12px;
  text-align: center;

  -webkit-box-sizing: border-box;
}

.block {
  display: block;
}

.none {
  display: none;
}
